br {
    user-select: none;
}

.form-instruction {
    color: rgba(var(--bs-body-color-rgb), .75);
    font-size: .875rem;
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#map-return {
    position: absolute;
    z-index: 2;
}

.leaflet-popup-close-button {
    margin-top: 3px;
    margin-right: 5px;
}

.leaflet-popup-content-wrapper {
    width: 15rem;
    font-weight: bold;
    border-style: solid;
    border-width: 0 3px 3px 0;
}

.leaflet-popup-tip {
    border-style: solid;
    border-width: 0 3px 0 0;
}

.lyrics-background {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 0-1px 0 #FFFFFF, -1px 0 0 #FFFFFF, 1px 0 0 #FFFFFF;
    margin: 0px 0px;
}