<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="卒業研究">
    <meta name="twitter:title" content="TOKIMEKI Walkers"> 
    <meta name="og:description" content="聖地巡礼を支援するARフォトスタンプラリーシステム">
    <title>TOKIMEKI Walkers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for ('static', filename='images/favicon.ico') }}" id="favicon">
    <link rel="apple-touch-icon" href="{{ url_for ('static', filename='images/favicon.png') }}" sizes="180x180">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>

<body class="bg-light">
    <div class="m-4">
        {% block content %} 
        {% endblock %}
    </div>
    <hr>
    <footer>
        <p class="text-center mx-5 my-4">
            <span>聖地巡礼の際は、歩行者や施設の利用者、近隣住民の方々の迷惑とならないよう、十分な配慮と節度ある行動をお願いいたします。</span><br>
            <span class="form-text"><br>本Webアプリケーション内で使用されている画像や「虹ヶ咲」、「高咲侑」などの用語および名称に関する権利は、「2020-2022 プロジェクトラブライブ！虹ヶ咲学園スクールアイドル同好会」に帰属します。</span>
        </p>
    </footer>
</body>
