<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="卒業研究">
    <meta name="twitter:title" content="TOKIMEKI Walkers"> 
    <meta name="og:description" content="聖地巡礼を支援するARフォトスタンプラリーシステム">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:image" content="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//uploads/20220902_164631_3rdtickets.jpg">
    <title>TOKIMEKI Walkers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for ('static', filename='images/favicon.ico') }}" id="favicon">
    <link rel="apple-touch-icon" href="{{ url_for ('static', filename='images/favicon.png') }}" sizes="180x180">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>

<body class="bg-light">
    <div class="m-5">
        {% block content %} 
        {% endblock %}
    </div>
</body>