{% extends "base.html" %}

{% block content %}

    <div class="position-absolute top-50 start-50 translate-middle w-75 h-100 my-5">
        <div class="card border-dark bg-light border-2 rounded-3">
            <div class="card-body mx-4 mt-3 mb-2">
                <h2 class="card-title text-center mb-3">登録情報の確認 / 変更</h2>
                <p id="result">{{ result | default("<br>") | safe }}</p>
                <form method="POST">
                    <div class="mb-4">
                        <label>ユーザID (変更不可)</label>
                        <input type="text" name="userid" value="{{ userid }}" class="form-control" disabled>
                    </div>
                    <div class="mb-4">
                        <label>表示名</label>
                        <input id="input-username" type="text" name="username" value="{{ username }}" class="form-control" disabled required>
                        <p class="form-instruction my-1">⚠️ 空白文字は使用できません</p>
                        <button id="change-username" type="button" class="btn btn-sm btn-primary">変更</button>
                        <button id="confirm-username" type="submit" href="/config" class="btn btn-sm btn-success" style="display: none;">確定</button>
                        <button id="cancel-username" type="button" class="btn btn-sm btn-danger ms-1" style="display: none;">取消</button>        
                    </div>
                    <div class="mb-4">
                        <label>プロフィール (任意)</label>
                        <textarea id="input-profile" rows="3" name="profile" placeholder="例: こんにちは！" class="form-control" disabled>{{ profile | default("") }}</textarea>
                        <button id="change-profile" type="button" class="btn btn-sm btn-primary mt-2">変更</button>
                        <button id="confirm-profile" type="submit" href="/config" class="btn btn-sm btn-success mt-2" style="display: none;">確定</button>
                        <button id="cancel-profile" type="button" class="btn btn-sm btn-danger mt-2 ms-1" style="display: none;">取消</button>  
                    </div>
                    <input id="submit" style="display: none;">
                </form>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ url_for('main') }}" class="btn btn-secondary mt-4">もどる</a>
        </div>
    </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script src="{{ url_for ('static', filename='js/config.js') }}"></script>

{% endblock %}