{% extends "base.html" %}

{% block content %}

{% if location.id == 1 %}
<div class="d-flex justify-content-end">
    <a href="../{{ location.id + 1 }}/0" role="button" class="btn btn-primary">No. {{ location.id + 1}} →</a>
</div>
{% elif location.id == 54 %}
<div class="d-flex justify-content-start">
    <a href="../{{ location.id - 1 }}/0" role="button" class="btn btn-primary">← No. {{ location.id - 1}}</a>
</div>
{% else %}
<div class="d-flex justify-content-between">
<a href="../{{ location.id - 1 }}/0" role="button" class="btn btn-primary">← No. {{ location.id - 1}}</a>
    <a href="../{{ location.id + 1 }}/0" role="button" class="btn btn-primary">No. {{ location.id + 1}} →</a>
</div>
{% endif %}
<br>

<div class="h1">
    No. {{ location.id }}<br>{{ location.name }}
</div>
<p class="my-3">{{ message }}</p>
<div id="unlocked-lyric" class="card my-3 border border-2 border-info" style="display: none;"></div>

<div>
    <a href="{{ url_for('rally') }}" role="button" class="btn btn-secondary">もどる</a>
    <a href="/map/{{ location.id }}" role="button" class="btn btn-outline-primary">マップを表示</a>
</div>
<p id="distance" class="mt-4 mb-0">
    現在地からの距離: ---m<br>
    <span class="fw-bold">* チェックインが可能か判別しています<br><br></span>
</p>
<br>

<div class="mb-3">
    <div>
        <button id="button-checkin-with-photo" type="button" class="btn btn-primary my-1 disabled" data-bs-toggle="modal" data-bs-target="#with-photo">写真ありでチェックイン</button><br>
        <button id="button-checkin-without-photo" type="button" class="btn btn-dark my-1 disabled" data-bs-toggle="modal" data-bs-target="#without-photo">写真なしでチェックイン</button><br>

        {% if location.photo and location.photo != "no_image.jpg" %}
        <img src="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//uploads/{{ location.photo }}" width="50%" class="border border-1 border-dark mt-3 mb-2">
        {% endif %}

        <div class="modal fade" id="with-photo" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="upload-form" action="/upload/{{ location.id }}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <h4>画像のアップロード</h4>
                            <label for="upload-photo" class="form-label form-instruction">
                                ファイルサイズの上限は10MBです
                            </label>
                            <input id="upload-photo" name="photo" type="file" accept="image/*" capture="camera" class="form-control" required>
                            <p id="uploadable" class="mt-3"></p>
                            <div id="preview" class="mt-3"></div>
                            <p id="checkin-question" class="mt-3" style="display: none;">「{{ location.name }}」にチェックインしますか？</p>         
                        </div>
                        <div id="footer" class="modal-footer" style="display: none;">
                            <button class="btn btn-success" onclick="window.reload(true, {{ location.id }})">はい</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                        </div>
                    </form>
                </div>       
            </div>
        </div>

        <div class="modal fade" id="without-photo" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>「{{ location.name }}」にチェックインしますか？</p>
                    </div>
                    <div class="modal-footer">            
                        <button class="btn btn-success" onclick="window.reload(false, {{ location.id }})">はい</button>
                        <button class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-3">
    <div class="card my-3 border border-2 border-primary">
        <div class="card-body">
            <h4>概要</h4>
            <p>{{ location.summary | safe }}</p>
        </div>
    </div>
    <div class="card my-3 border border-2 border-warning">
        <div class="card-body">
            <h4>登場シーン</h4>
            <img src="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//images/{{ location.image }}" width="100%" class="border border-1 border-dark mt-2 mb-3">
            <p>{{ location.scene | safe }}</p>
        </div>
    </div>
    <div class="card my-3 border border-2 border-success">
        <div class="card-body">
            <h4>最寄りの聖地</h4>
            <ul>
            {% for nearest_location in nearest_locations %}
            <li class="my-2">{{ nearest_location.distance }}m ── <a href="../{{ nearest_location.id }}/0">{{ nearest_location.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<a href="{{ url_for('rally') }}" role="button" class="btn btn-secondary mt-2 mb-4">もどる</a>
<br>

{% if location.id == 1 %}
<div class="d-flex justify-content-end mt-3">
    <a href="../{{ location.id + 1 }}/0" role="button" class="btn btn-primary">No. {{ location.id + 1}} →</a>
</div>
{% elif location.id == 54 %}
<div class="d-flex justify-content-start mt-3">
    <a href="../{{ location.id - 1 }}/0" role="button" class="btn btn-primary">← No. {{ location.id - 1}}</a>
</div>
{% else %}
<div class="d-flex justify-content-between mt-3">
<a href="../{{ location.id - 1 }}/0" role="button" class="btn btn-primary">← No. {{ location.id - 1}}</a>
    <a href="../{{ location.id + 1 }}/0" role="button" class="btn btn-primary">No. {{ location.id + 1}} →</a>
</div>
{% endif %}

<div id="hidden-lyrics">
    <p id="lyric1">夢を奏でよう Rainbow World!</p>
    <p id="lyric2">(Colorful World! Colorful!</p>
    <p id="lyric3">Colorful Dream! Colorful! Yeah!!)</p>
    <p id="lyric4">虹色染まる季節 走りだした Days</p>
    <p id="lyric5">目覚めたての夢から こぼれる光 まぶしくて</p>
    <p id="lyric6"><ruby><rb>瞬間</rb><rp> (</rp><rt>いま</rt><rp>)</rp></ruby> 未来 とまらない 高鳴り感じてる？</p>
    <p id="lyric7">(…I feel the same as you…!!)</p>
    <p id="lyric8">聞こえるよ 胸のドキドキ　合図にはじめよう</p>
    <p id="lyric9">流れてく雲 通り雨 頬を濡らしたって</p>
    <p id="lyric10">青く澄んだ空 また広がるよ</p>
    <p id="lyric11">歌おう 歌おう (Together!)</p>
    <p id="lyric12">心つないだら Let's go!</p>
    <p id="lyric13">一緒に さぁ (いくよ、せーの！)</p>
    <p id="lyric14">You go, I go! We go!!</p>
    <p id="lyric15">Dream on!!</p>
    <p id="lyric16">夢と夢 響く Melody!</p>
    <p id="lyric17">どこまでも 広がってくよ</p>
    <p id="lyric18">Fly! High!</p>
    <p id="lyric19">終わりなく続く空へ (Everybody! Draw! Dream!)</p>
    <p id="lyric20">どんな初めても 一緒ならね</p>
    <p id="lyric21">咲いてくよ Smile! 今 高く</p>
    <p id="lyric22">Sky! High!</p>
    <p id="lyric23">自由に そう Brighten your colors</p>
    <p id="lyric24">笑顔で走る軌跡 ほら輝くよ</p>
    <p id="lyric25">果てない New Stories (We all together!)</p>
    <p id="lyric26">描き続けよう</p>
    <p id="lyric27">ゆっくりと走るこの道</p>
    <p id="lyric28">何かが生まれかけてるんだ</p>
    <p id="lyric29">それを伝えたいよ</p>
    <p id="lyric30">君へと伝えたいんだ</p>
    <p id="lyric31">毎日見上げる空の</p>
    <p id="lyric32">青さも季節ごと変わって</p>
    <p id="lyric33">決まりはないね</p>
    <p id="lyric34">自由に描いてと誘われてるよ</p>
    <p id="lyric35">あせらないで行こう</p>
    <p id="lyric36">ときめく時間を楽しんで</p>
    <p id="lyric37">もっと！</p>
    <p id="lyric38">みんな自分が好きなことを</p>
    <p id="lyric39">追求しちゃおう</p>
    <p id="lyric40">どこに向かうか まだわからないけど</p>
    <p id="lyric41">面白そうな未来が待ってると</p>
    <p id="lyric42">笑いあえる君がいれば嬉しい</p>
    <p id="lyric43">今日もありがとう</p>
    <p id="lyric44">さあこれからは それぞれの<ruby><rb>地図</rb><rp> (</rp><rt>マップ</rt><rp>)</rp></ruby></p>
    <p id="lyric45">広げたら気軽に飛び出そう</p>
    <p id="lyric46">夢見て憧れて また夢が見たいんだ</p>
    <p id="lyric47">見たい、見たいんだ！</p>
</div>

<script src="{{ url_for ('static', filename='js/location.js') }}"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        {% if unlocked_number > 0 and unlocked_number < 48 %}
        {% if location.visit_count_with_photo == 1 %}
        let unlocked_lyric = document.getElementById("lyric{{ unlocked_number }}").innerHTML;
        document.getElementById("unlocked-lyric").style.display = "block";
        document.getElementById("unlocked-lyric").innerHTML = '<div class="card-body"><h6 class="fw-bold mt-3">新たな歌詞が解放されました！</h6><p class="fw-normal">♪ ' + unlocked_lyric + '</p></div>';
        {% endif %}
        {% endif %}
        document.getElementById("hidden-lyrics").remove();
    });

    const THRESHOLD = 1000000; // 実際は50m テスト用: 100000m
    let discriminator = document.getElementById("distance");

    let watchId = navigator.geolocation.watchPosition(pos => {
        let distance = hubenyFormula(pos.coords.latitude, pos.coords.longitude, {{ location.latitude }}, {{ location.longitude }});
        let buttonCheckinWithPhoto = document.getElementById("button-checkin-with-photo");
        let buttonCheckinWithoutPhoto = document.getElementById("button-checkin-without-photo");
        let roundedDistance = Math.round(distance);
        discriminator.innerHTML = "現在地からの距離: " + roundedDistance.toLocaleString() + "m<br>";
        if (roundedDistance <= THRESHOLD) {
            buttonCheckinWithPhoto.className = "btn btn-primary my-1";
            buttonCheckinWithoutPhoto.className = "btn btn-dark my-1";
            discriminator.innerHTML += "<span class='fw-bold'><span class='text-success'>*</span> チェックイン可能です<br> &nbsp;&nbsp;&nbsp;(50m以内です)</span>";
        } else {
            buttonCheckinWithPhoto.className = "btn btn-primary my-1 disabled";
            buttonCheckinWithoutPhoto.className = "btn btn-dark my-1 disabled";
            discriminator.innerHTML += "<span class='fw-bold'><span class='text-danger'>*</span> チェックインできません<br> &nbsp;&nbsp;&nbsp;(50m以内ではありません)</span>";
        }
    }, err => {
        let err_msg = "位置情報の取得に失敗しました:\n";
        switch (err.code) {
            case 1:
                err_msg += "位置情報サービスの利用が許可されていません";
                break;
            case 2:
                err_msg = "お使いの端末の位置を判定することができません";
                break;
            case 3:
                err_msg = "位置情報の取得に時間がかかっています";
                break;
        }
        let discriminator = document.getElementById("distance");
        discriminator.innerHTML = "現在地からの距離: ---m<br><span class='fw-bold'><span class='text-danger'>*</span> チェックインできません <br> &nbsp;&nbsp;&nbsp;(位置情報が取得できません)</span>";
        window.alert(err_msg);
    }, {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    });
</script>

{% endblock %}
