{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">{{ location.id }}. {{ location.name }}</h1>
<p class="my-3">{{ message }}</p>
<div class="float-start">
    <a href="{{ url_for('rally') }}" role="button" class="btn btn-secondary">もどる</a>
    <a href="/map/{{ location.id }}" role="button" class="btn btn-outline-primary">マップを表示</a>
<div>
<p id="distance" class="mt-4 mb-0">
    現在地からの距離: ---m<br>
    <span class="fw-bold">* チェックインが可能か判別しています</span>
</p><br>

<div class="mb-3">
    <div>
        <button id="button-checkin-with-photo" type="button" class="btn btn-primary my-1 disabled" data-bs-toggle="modal" data-bs-target="#with-photo">写真ありでチェックイン</button><br>
        <button id="button-checkin-without-photo" type="button" class="btn btn-dark my-1 disabled" data-bs-toggle="modal" data-bs-target="#without-photo">写真なしでチェックイン</button><br>

        {% if location.photo and location.photo != "no_image.jpg" %}
        <img src="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//uploads/{{ location.photo }}" width="50%" class="border border-1 border-dark mt-3 mb-2">
        {% endif %}

        <div class="modal fade" id="with-photo" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="upload-form" action="/upload/{{ location.id }}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <h4>画像のアップロード</h4>
                            <label for="upload-photo" class="form-label form-instruction">
                                ファイルサイズの上限は10MBです
                            </label>
                            <input id="upload-photo" name="photo" type="file" accept="image/*" capture="camera" class="form-control" required>
                            <p id="uploadable" class="mt-3"></p>
                            <div id="preview" class="mt-3"></div>
                            <p id="checkin-question" class="mt-3" style="display: none;">「{{ location.name }}」にチェックインしますか？</p>         
                        </div>
                        <div id="footer" class="modal-footer" style="display: none;">
                            <button class="btn btn-success" onclick="window.reload(true, {{ location.id }})">はい</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                        </div>
                    </form>
                </div>       
            </div>
        </div>

        <div class="modal fade" id="without-photo" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>「{{ location.name }}」にチェックインしますか？</p>
                    </div>
                    <div class="modal-footer">            
                        <button class="btn btn-success" onclick="window.reload(false, {{ location.id }})">はい</button>
                        <button class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="my-3">
    <div class="card my-3 border border-2 border-primary">
        <div class="card-body">
            <h4>概要</h4>
            <p>{{ location.summary }}</p>
        </div>
    </div>
    <div class="card my-3 border border-2 border-warning">
        <div class="card-body">
            <h4>登場シーン</h4>
            <img src="{{ location.image }}" width="100%" class="border border-1 border-dark mt-2 mb-3">
            <p>{{ location.scene }}</p>
        </div>
    </div>
    <div class="card my-3 border border-2 border-success">
        <div class="card-body">
            <h4>最寄りの聖地</h4>
            <ul>
            {% for nearest_location in nearest_locations %}
            <li class="my-2">{{ nearest_location.distance }}m ── <a href="./{{ nearest_location.id }}">{{ nearest_location.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<a href="{{ url_for('rally') }}" role="button" class="btn btn-secondary mt-2 mb-4">もどる</a>

<script src="{{ url_for ('static', filename='js/location.js') }}"></script>
<script>
    const THRESHOLD = 500; // 実際は50m テスト用: 100000m
    let discriminator = document.getElementById("distance");

    let watchId = navigator.geolocation.watchPosition(pos => {
        let distance = hubenyFormula(pos.coords.latitude, pos.coords.longitude, {{ location.latitude }}, {{ location.longitude }});
        let buttonCheckinWithPhoto = document.getElementById("button-checkin-with-photo");
        let buttonCheckinWithoutPhoto = document.getElementById("button-checkin-without-photo");
        discriminator.innerHTML = "現在地からの距離: " + Math.round(distance).toLocaleString() + "m<br>";
        if (distance <= THRESHOLD) {
            buttonCheckinWithPhoto.className = "btn btn-primary my-1";
            buttonCheckinWithoutPhoto.className = "btn btn-dark my-1";
            discriminator.innerHTML += "<span class='fw-bold'><span class='text-success'>*</span> チェックイン可能です</span>";
        } else {
            buttonCheckinWithPhoto.className = "btn btn-primary my-1 disabled";
            buttonCheckinWithoutPhoto.className = "btn btn-dark my-1 disabled";
            discriminator.innerHTML += "<span class='fw-bold'><span class='text-danger'>*</span> チェックインできません</span>";
        }
    }, err => {
        let err_msg = "位置情報の取得に失敗しました:\n";
        switch (err.code) {
            case 1:
                err_msg += "位置情報サービスの利用が許可されていません";
                break;
            case 2:
                err_msg = "お使いの端末の位置を判定することができません";
                break;
            case 3:
                err_msg = "位置情報の取得に時間がかかっています";
                break;
        }
        let discriminator = document.getElementById("distance");
        discriminator.innerHTML = "現在地からの距離: ---m<br><span class='fw-bold'><span class='text-danger'>*</span> チェックインできません</span>";
        window.alert(err_msg);
    }, {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    });
</script>

{% endblock %}