{% extends "base.html" %}

{% block content %}

<h1>メインページ</h1>
<h3>ようこそ、{{ username }}さん</h3>
<a href="/logout" role="button" class="btn btn-danger my-4">ログアウト</a>

<div>
    <h4>概要</h4>
    <p>『TOKIMEKI Walkers』は、聖地巡礼を支援するARフォトラリーシステムです。</p>
    <p>訪問聖地数: 7 / 30</p>
    <p>聖地撮影数: 4 / 30</p>
    <p>歌詞集め率: 17%</p>
</div>


<div class="my-4">
    <a href="/rally" role="button" class="btn btn-primary">フォトラリー</a>
    <a href="/map" role="button" class="btn btn-primary">マップ</a>
    <a href="/lyrics" role="button" class="btn btn-primary">歌詞集め</a>
</div>

{% endblock %}