{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">TOKIMEKI Walkers</h1>
<h3>ようこそ、{{ username }}さん</h3>
<a href="/logout" role="button" class="btn btn-danger my-4">ログアウト</a>

<div class="my-3">
    <div>
        <h4>概要</h4>
        <p>『TOKIMEKI Walkers』は、聖地巡礼を支援するARフォトラリーシステムです。</p>
    </div>
    <br>
    <div>
        <h4>活動記録</h4>
        <p>訪問済み聖地数: 7 / 30</p>
        <p>撮影済み聖地数: 4 / 30</p>
        <p>歌詞集め率平均: 17%</p>
    </div>
</div>


<div class="my-4">
    <a href="/rally" role="button" class="btn btn-primary">フォトラリー</a>
    <a href="/map" role="button" class="btn btn-primary">マップ</a>
    <a href="/lyrics" role="button" class="btn btn-primary">歌詞集め</a>
</div>

{% endblock %}