{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">歌詞集め</h1>
<h3 class="mb-3">〜 Lyric Hunt 〜</h3>
<a href="{{ url_for('main') }}" role="button" class="btn btn-secondary">もどる</a>

<div class="my-3">
    <p>各スポットで写真を撮影して，歌詞カードを完成させよう!!</p>
    <div class="card border border-2 border-dark my-3" style="background-color: lightcyan;">
        <div class="card-header">
            <h4 class="fst-italic">Colorful Dreams! Colorful Smiles!</h4>
            <p id="rate">歌詞集め率: 0.00%</p>
        </div>
        <div id="cdcs" class="card-body">
            <div>
                <p id="lyric1">夢を奏でよう Rainbow World!</p>
                <p id="lyric2">(Colorful World! Colorful!</p>
                <p id="lyric3">Colorful Dream! Colorful! Yeah!!)</p>
                <p id="lyric4">虹色染まる季節 走りだした Days</p>
                <p id="lyric5">目覚めたての夢から こぼれる光 まぶしくて</p>
                <p id="lyric6"><ruby><rb>瞬間</rb><rp> (</rp><rt>いま</rt><rp>)</rp></ruby> 未来 とまらない 高鳴り感じてる？</p>
                <p id="lyric7">(…I feel the same as you…!!)</p>
                <p id="lyric8">聞こえるよ 胸のドキドキ　合図にはじめよう</p>
                <p id="lyric9">流れてく雲 通り雨 頬を濡らしたって</p>
                <p id="lyric10">青く澄んだ空 また広がるよ</p>
                <p id="lyric11">歌おう 歌おう (Together!)</p>
                <p id="lyric12">心つないだら Let's go!</p>
                <p id="lyric13">一緒に さぁ (いくよ、せーの！)</p>
                <p id="lyric14">You go, I go! We go!!</p>
                <p id="lyric15">Dream on!!</p>
                <p id="lyric16">夢と夢 響く Melody!</p>
                <p id="lyric17">どこまでも 広がってくよ</p>
                <p id="lyric18">Fly! High!</p>
                <p id="lyric19">終わりなく続く空へ (Everybody! Draw! Dream!)</p>
                <p id="lyric20">どんな初めても 一緒ならね</p>
                <p id="lyric21">咲いてくよ Smile! 今 高く</p>
                <p id="lyric22">Sky! High!</p>
                <p id="lyric23">自由に そう Brighten your colors</p>
                <p id="lyric24">笑顔で走る軌跡 ほら輝くよ</p>
                <p id="lyric25">果てない New Stories (We all together!)</p>
                <p id="lyric26">描き続けよう</p>
            </div>
        </div>
    </div>
    <div id="nsnm" class="card border border-2 border-primary my-3">
        <div class="card-header">
            <h4 class="fst-italic">NEO SKY, NEO MAP!</h4>
            <p id="lyric">歌詞集め率: 0.00%</p>
        </div>
        <div class="card-body">
            <div>
                <p id="lyric27">ゆっくりと走るこの道</p>
                <p id="lyric28">何かが生まれかけてるんだ</p>
                <p id="lyric29">それを伝えたいよ</p>
                <p id="lyric30">君へと伝えたいんだ</p>
                <p id="lyric31">毎日見上げる空の</p>
                <p id="lyric32">青さも季節ごと変わって</p>
                <p id="lyric33">決まりはないね</p>
                <p id="lyric34">自由に描いてと誘われてるよ</p>
                <p id="lyric35">あせらないで行こう</p>
                <p id="lyric36">ときめく時間を楽しんで</p>
                <p id="lyric37">もっと！</p>
                <p id="lyric38">みんな自分が好きなことを</p>
                <p id="lyric39">追求しちゃおう</p>
                <p id="lyric40">どこに向かうか まだわからないけど</p>
                <p id="lyric41">面白そうな未来が待ってると</p>
                <p id="lyric42">笑いあえる君がいれば嬉しい</p>
                <p id="lyric43">今日もありがとう</p>
                <p id="lyric44">さあこれからは それぞれの地図マップ</p>
                <p id="lyric45">広げたら気軽に飛び出そう</p>
                <p id="lyric46">夢見て憧れて また夢が見たいんだ</p>
                <p id="lyric47">見たい、見たいんだ！</p>
            </div>
        </div>
    </div>
</div>

<script>
    /*
    const num_of_lyrics = 31;
    let count = 0;
    {% for number, lyric in data %}
    var lyricCollected = {{ lyric }}
    var lyric = document.getElementById("lyric" + {{ number }});
    if (!lyricCollected && lyric) {
        lyric.innerHTML = "○△※&%○△※&%";
    } else if (lyricCollected && lyric) {
        count++;
    }
    {% endfor %}
    */

    let number = 0;
    let count = 0;
    {% for lyric in lyrics %}
    number++;
    if ({{ lyric }}) {
        count++;
    } else {
        document.getElementById("lyric" + number).style.color = "black";
        document.getElementById("lyric" + number).style.textShadow = "none";
        document.getElementById("lyric" + number).style.filter = "blur(4px) drop-shadow(0px 0px 300px black)";
    }
    {% endfor %}
    let lyricHuntRate = count / number;
    document.getElementById("rate").innerHTML = "歌詞集め率: " + Math.round(lyricHuntRate * 10000) / 100 + "%";
</script>

{% endblock %}