<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="卒業研究">
    <meta name="twitter:title" content="TOKIMEKI Walkers"> 
    <meta name="twitter:description" content="聖地巡礼を支援するARフォトスタンプラリーシステム">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://localhost.localhost-https.tk:5000/static/uploads/20220621_011835_F37AF389-572E-4D71-A563-BD89DC121E02.jpeg">
    <title>TOKIMEKI Walkers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>

<body>

<div id="map"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="">
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="{{ url_for('static', filename='js/leaflet.sprite.js') }}"></script>
<script>
    let centralLocationId = {{ central_location.id }};
    let map = L.map("map", { zoomControl: false }).setView([{{ central_location.latitude }}, {{central_location.longitude }}], 14);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: "© OpenStreetMap"
    }).addTo(map);

    let buttons = L.control({ position: "topleft" });
    buttons.onAdd = function (map) {
        this.ele = L.DomUtil.create("div");
        this.ele.id = "on-map";
        return this.ele;
      };
    buttons.addTo(map);

    let redMarker = null;

    {% for location in locations %}
    var iconColor = "blue";
    {% if location. visited == "✅ 訪問済" %}
    var iconColor = "green";
    {% endif %}

    var marker = L.marker(
            [{{ location.latitude }}, {{ location.longitude }}],
            { icon: L.spriteIcon(iconColor) }
        ).addTo(map)
        .bindPopup("{{ location.visited }}<br><a href='/rally/{{ location.id }}/0'>{{ location.name }}</a><br><br><img src='https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//images/{{ location.image }}' width='190vw'>");
    if (centralLocationId === {{ location.id }}) {
        marker.openPopup();
        redMarker = L.marker(
            [{{ location.latitude }}, {{ location.longitude }}],
            { icon: L.spriteIcon("red") }
        ).addTo(map)
        .bindPopup("<a href='/rally/{{ location.id }}/0'>{{ location.name }}</a><br><br><img src='https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//images/{{ location.image }}' width='190vw'>");
    }

    marker.on("click", () => {
        if (redMarker) {
            map.removeLayer(redMarker);
        }
        redMarker = L.marker(
            [{{ location.latitude }}, {{ location.longitude }}],
            { icon: L.spriteIcon("red") }
        ).addTo(map)
        .bindPopup("<a href='/rally/{{ location.id }}/0'>{{ location.name }}</a><br><br><img src='https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//images/{{ location.image }}' width='190vw'>");
    })
    {% endfor %}

    let onMap = document.getElementById("on-map");
    let href = "/";
    if (centralLocationId > 0) {
        href = "/rally/" + centralLocationId + "/0";
    }

    onMap.innerHTML = "<a href='" + href + "' class='btn btn-dark text-light'>もどる</a>";
    onMap.innerHTML += "<button id='current-location-button' class='btn btn-primary text-light ms-2'>現在地を表示</button>";

    let currentMarkerHidden = true;

    let currentLocationButton = document.getElementById("current-location-button");
    currentLocationButton.setAttribute("onClick", "currentWatch()");

    let watchId = 0;
    let currentMarker = null
    let currentWatchButton = null;

    function currentWatch() {
        if (currentMarkerHidden) {
            function success(pos) {
                let lat = pos.coords.latitude;
                let lng = pos.coords.longitude;
                if (currentMarker) {
                    map.removeLayer(currentMarker);
                } else {
                    map.setView([lat, lng]);
                }
                currentMarker = L.marker(
                    [lat, lng], 
                    {
                        icon: L.icon(
                            {
                            iconUrl: "{{ url_for('static', filename='images/current_loc.png') }}",
                            iconSize: [56, 56],
                            }
                        ),
                    }
                ).addTo(map);
                currentLocationButton.setAttribute("onClick", "currentWatchReset()");
                currentLocationButton.innerHTML = "現在地を非表示";
                currentLocationButton.className = "btn btn-secondary text-light ms-2";
                currentMarkerHidden = false;
            }
            function error(err) {
                let err_msg = "位置情報の取得に失敗しました:\n";
                switch (err.code) {
                    case 1:
                        err_msg += "位置情報サービスの利用が許可されていません";
                        break;
                    case 2:
                        err_msg = "お使いの端末の位置を判定することができません";
                        break;
                    case 3:
                        err_msg = "位置情報の取得に時間がかかっています";
                        break;
                }
                window.alert(err_msg);
            }
            let options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };
            if (watchId == 0) {
                watchId = navigator.geolocation.watchPosition(success, error, options);
            }
        }
    }

    function currentWatchReset() {
        if (!currentMarkerHidden) {
            if (watchId > 0) {
                navigator.geolocation.clearWatch(watchId);
                watchId = 0;
            }
            if (currentMarker) {
                map.removeLayer(currentMarker);
                currentMarker = null;
            }
            currentLocationButton.setAttribute("onClick", "currentWatch()");
            currentLocationButton.innerHTML = "現在地を表示";
            currentLocationButton.className = "btn btn-primary text-light ms-2";
            currentMarkerHidden = true;
        }
    }

    function getHeading(){
        var promise = FULLTILT.getDeviceOrientation({'type': 'world'});
		promise.then(function(orientationControl) {
			orientationControl.listen(function() {
				var screenAdjustedEvent = orientationControl.getScreenAdjustedEuler();
				var heading = screenAdjustedEvent.alpha;
                return heading;
			});
		});
    }
</script>
</body>

</html>