{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">マップ</h1>
<a href="{{ url_for('main') }}" role="button" class="btn btn-secondary">もどる</a>
<br>
<div class="my-3">
    <h3>ナビ</h3>
    <a href="/map/1" role="button" class="btn btn-outline-primary my-1">1. ダイバーシティ東京プラザ</a><br>
    <a href="/map/2" role="button" class="btn btn-outline-primary my-1">2. デックス 東京ビーチ</a>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51893.76538968735!2d139.74516831902696!3d35.61884233331035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601889f82c55d4cb%3A0x79fe8b211d2010b9!2z5p2x5Lqs6YO9IOOBiuWPsOWgtA!5e0!3m2!1sja!2sjp!4v1653982045606!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}