{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">みんなの投稿</h1>
<a href="{{ url_for('main') }}" role="button" class="btn btn-secondary">もどる</a>

<div class="my-3">
    {% for post in posts %}
    <div class="card my-3 border border-2 border-dark">
        <div class="card-header">
            <p class="mt-1 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <button type="button" class="btn btn-link ps-1" data-bs-toggle="modal" data-bs-target="#modal{{ post.id }}">{{ post.username }} ({{ post.userid }})</button>
            </p>
            <p class="text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 19 19">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <a href="/rally/{{ post.location_id }}" class="text-secondary">{{ post.location_name }}</a>
            </p>
            <p class="text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-clock" viewBox="0 0 19 19">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg>
                {{ post.time }}
            </p>
        </div>
        <div class="card-body">
            <p>{{ post.content | replace("\r", "<br>" | safe) }}</p>
            {% if post.photo != "no_image.jpg" %}
            <img src="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//uploads/{{ post.photo }}" width="100%" class="border border-1 border-dark">
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="modal{{ post.id }}" tabindex="-1" aria-labelledby="modalLabel{{ post.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ post.id }}">{{ post.username }}さん (ID: {{ post.userid }}) のプロフィール</h5>
            </div>
            <div class="modal-body">
                <p>{{ post.profile | replace("\r", "<br>" | safe) }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">とじる</button>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>

{% if page > 1 %}
<a href="./{{ page - 1 }}" role="button" class="btn btn-primary">前のページへ</a>
{% endif %}
{% if page < num_of_pages %}
<a href="./{{ page + 1 }}" role="button" class="btn btn-primary">次のページへ</a>
{% endif %}

<br>
<a href="{{ url_for('main') }}" role="button" class="btn btn-secondary my-3">もどる</a>

{% endblock %}