{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">フォトラリー</h1>
<h3 class="my-4">{{ username }}さんの訪問記録</h3>
<a href="/" role="button" class="btn btn-secondary">もどる</a>

<div class="my-3">
    {% for location in locations %}
    <div class="card my-3 border border-2 border-primary">
        <div class="card-header">
            <h4>{{ location.id }}.  {{ location.name }}</h4>
        </div>
        <div class="card-body">
            <div class="float-start">
                <a href="/rally/{{ location.id }}" role="button" class="btn btn-primary mb-2 fs-5" style="width: 106px;">詳細</a><br>
                <a role="button" class="btn btn-info btn-sm text-light mb-4{{ location.share_button | default('') }}" href="https://twitter.com/share?url=https://localhost.localhost-https.tk:5000/rally&text=「{{ location.name }}」を訪問しました！&hashtags=TOKIMEKI_Walkers,虹ヶ咲,聖地巡礼" target="_blank" rel="nofollow">Tweet</a>
                <button type="button" role="button" class="btn btn-success btn-sm mb-4{{ location.share_button | default('') }}" data-bs-toggle="modal" data-bs-target="#modal{{ location.id }}" data-bs-whatever="ダイバーシティ 東京プラザ">投稿</button>
                <div class="modal fade" id="modal{{ location.id }}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="modalLabel{{ location.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ location.id }}">共有</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST" action="/post/{{ location.id }}">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="col-form-label">内容:</label>
                                        <textarea name="content{{ location.id }}" class="form-control"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <p class="col-form-label">画像:</p>
                                        <img src="{{ location.photo }}" height="150" class="border border-1 border-dark">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">投稿する</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">とじる</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <p>{{ location.visited }}</p>
                <p>訪問回数: {{ location.visit_count }}
            </div>
        <div>
            <img src="{{ location.photo }}" height="120" class="float-start mx-4 border border-1 border-dark">
        </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}