{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">フォトラリー</h1>
<h3 class="my-4">{{ username }}さんの巡礼記録</h3>
<a href="{{ url_for('main') }}" role="button" class="btn btn-secondary mb-4">もどる</a>

<div class="my-1 row row-cols-auto mx-auto gap-1">
    <button id="season1-opening" class="btn btn-outline-dark col-4">1期OP</button>
    <button id="season2-opening" class="btn btn-outline-dark col-4">2期OP</button>
</div>

<div class="my-1 row row-cols-auto mx-auto gap-1">
    <button id="season1-episodes" class="btn btn-outline-dark col-4">1期各話</button>
    <button id="season2-episodes" class="btn btn-outline-dark col-4">2期各話</button>
</div>

<div class="mb-4 row row-cols-auto mx-auto gap-1">
    <button id="others" class="btn btn-outline-dark col-4">その他</button>
    <button id="all" class="btn btn-outline-primary col-4">すべて</button>
</div>

<h4 id="numbers" class="mb-4">No. 1 - No. 54</h4>

<div class="my-3">
    {% for location in locations %}
    <div id="location{{ location.id }}" class="card my-3 border border-2 border-primary">
        <div class="card-header row mx-0 p-0 align-items-center h4">
            <div class="col-2 text-center text-nowrap">{{ location.id }}</div>
            <div class="col py-3" style="border-left: 1px solid lightgray;">{{ location.name }}</div>
        </div>
        <div class="card-body">
            <div class="float-start">
                <a href="/rally/{{ location.id }}/0" role="button" class="btn btn-primary mb-2 fs-5" style="width: 106px;">詳細</a><br>
                <a role="button" class="btn btn-info btn-sm text-light mb-4{{ location.share_button | default('') }}" href="https://twitter.com/share?url=https://www.tokimeki-walkers.com/static/cards/{{ location.photo }}.html&text=「{{ location.name }}」を訪問しました！&hashtags=TOKIMEKI_Walkers,虹ヶ咲,聖地巡礼" target="_blank" rel="nofollow">Tweet</a>
                <button type="button" role="button" class="btn btn-success btn-sm mb-4{{ location.share_button | default('') }}" data-bs-toggle="modal" data-bs-target="#modal{{ location.id }}" data-bs-whatever="ダイバーシティ 東京プラザ">投稿</button>
                <div class="modal fade" id="modal{{ location.id }}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="modalLabel{{ location.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ location.id }}">共有</h5>
                            </div>
                            <form method="POST" action="/post/{{ location.id }}">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="col-form-label">内容:</label>
                                        <textarea name="content{{ location.id }}" class="form-control"></textarea>
                                    </div>
                                    {% if location.photo != "no_image.jpg" %}
                                        <div class="mb-3">
                                            <p class="col-form-label">画像:</p>
                                            <img src="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//uploads/{{ location.photo }}" width="100%" class="border border-1 border-dark">
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">投稿する</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">とじる</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-start ms-4 mt-2">
                <p>{{ location.visited }}</p>
                <p>訪問回数: {{ location.visit_count }}</p>
            </div>
            
        <div>
            <img src="https://tokimeki-walkers.s3.ap-northeast-1.amazonaws.com//uploads/{{ location.photo }}" width="100%" class="border border-1 border-dark">
        </div>
        </div>
    </div>
    {% endfor %}
</div>

<a href="#" role="button" class="btn btn-outline-primary mt-2">ページの先頭へ</a><br>
<a href="{{ url_for('main') }}" role="button" class="btn btn-secondary mt-3">もどる</a>

<script src="{{ url_for ('static', filename='js/rally.js') }}"></script>

{% endblock %}