{% extends "base.html" %}

{% block content %}

    <div class="position-absolute top-50 start-50 translate-middle w-75 h-100 my-5">
        <div class="card border-dark bg-light border-2 rounded-3">
            <div class="card-body mx-4 mt-3 mb-2">
                <h2 class="card-title text-center mb-3">新規ユーザ登録</h2>
                <p id="result">{{ result | default("<br>") | safe }}</p>
                <form method="POST">
                    <div class="mb-4">
                        <label>ユーザID (半角英数字)</label>
                        <input type="text" name="userid" value="{{ userid }}" class="form-control" required>
                        <p class="form-text">⚠️ ユーザIDは後から変更できません</p>
                    </div>
                    <div class="mb-4">
                        <label>パスワード (8文字以上の半角英数字)</label>
                        <input type="password" name="password" class="form-control" required>
                        <p class="form-text">⚠️ パスワードは後から変更できません</p>
                    </div>
                    <div class="mb-4">
                        <label>パスワード (再入力)</label>
                        <input type="password" name="password-confirm" class="form-control" required>
                        <p class="form-text">確認のため，もう一度入力してください</p>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">登録</button>           
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center">
            <a href="{{ url_for('login') }}" class="btn btn-secondary mt-4">もどる</a>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}